<!DOCTYPE html>
<!--/* 
 Copyright (c) 2016 Dominique Lopes.
 All rights reserved. 

 This Source Code Form is subject to the terms of the Mozilla Public 
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Contributors:
     Dominique Lopes - initial API and implementation
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Stock Facilitator: Login</title>
        <meta charset="utf-8" />
	</head>
    <body>
        <h1>Login page</h1>
        <p>Example user: user / password</p>
        #if ($error)
        <p class="error">Wrong user or password</p>
        #end
        <form action="${contextPath}/login" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Login" />
        </form>
        <p><a href="/">Back to home page</a></p>
    </body>
</html>
